html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h2 {

  text-align: center;

}


h1 {

  text-align: center;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}


Form {

  text-align: center;
  color: #664ffa;
  

}

label{
  display: inline-block;
  
}


@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-LightCondensed.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-LightCondItalic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-Condensed.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-CondensedItalic.otf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-BoldCondensed.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-BoldCondItalic.otf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

