html,
body {
  /* margin-right: clamp(0px, 10vw, 130px);
  margin-left: clamp(0px, 10vw, 130px); */
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h2 {

  text-align: center;

}


h1 {

  text-align: center;
  

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}



@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-LightCondensed.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-LightCondItalic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-Condensed.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-CondensedItalic.otf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-BoldCondensed.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Supernett-cn";
  src: url("/fonts/Supernett-cn/Supernettcn-BoldCondItalic.otf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
.ball > div:active {
  cursor: -webkit-grabbing;
}
.ball > div {
  width: 100px;
  height: 100px;
  background: hotpink;
  border-radius: 50%;
  cursor: -webkit-grab;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  white-space: pre;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.script-bf-box { /*ESTO ES PARA EL REACT SPRING */
  width: 150px;
  height: 400px;
  background: white;
  margin: 5px;
  will-change: transform;
  opacity: 0.5;
  object-fit: cover;
  
  
}

/*ESTO ES PARA EL REACT SPRING */
@media only screen and (max-width: 600px) {

  .script-bf-box { 
    width: 100px;
    height: 266px;
    
    
  }

}

.script-bf-box:hover { /* CON ESTO AUMENTA LA OPACIDAD HACIENDO CLICK */
  
  -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
  
}

h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
